workflows/Skill_YoutubeDownloadAndClip.json
{
  "name": "MuAPI — YouTube Download → AI Clipping (viral 9:16)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "When clicking Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "youtube_url",
              "value": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "format",
              "value": "720",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "num_highlights",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Set Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.muapi.ai/api/v1/youtube-download",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "muapiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.youtube_url }}\",\n  \"format\": \"{{ $json.format }}\"\n}",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Submit YT Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        320
      ],
      "credentials": {
        "muapiApi": {
          "id": "muapiApi",
          "name": "MuAPI API"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        320
      ],
      "webhookId": "wait-yt-poll"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.muapi.ai/api/v1/predictions/{{ $('Submit YT Download').item.json.request_id }}/result",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "muapiApi",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Poll YT Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        320
      ],
      "credentials": {
        "muapiApi": {
          "id": "muapiApi",
          "name": "MuAPI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Download Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1260,
        320
      ]
    },
    {
      "parameters": {
        "category": "videoEdit",
        "model": "ai-clipping",
        "clip_video_url": "={{ $json.outputs[0] }}",
        "clip_num_highlights": "={{ $('Set Inputs').item.json.num_highlights }}",
        "clip_aspect_ratio": "9:16"
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "AI Clipping",
      "type": "n8n-nodes-muapi.muapiPredictor",
      "typeVersion": 1,
      "position": [
        1500,
        220
      ],
      "credentials": {
        "muapiApi": {
          "id": "muapiApi",
          "name": "MuAPI API"
        }
      }
    }
  ],
  "connections": {
    "When clicking Test": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Submit YT Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit YT Download": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Poll YT Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll YT Result": {
      "main": [
        [
          {
            "node": "Download Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Ready?": {
      "main": [
        [
          {
            "node": "AI Clipping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "yt-clip-v1",
  "id": "skill-youtube-ai-clipping",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    "muapi",
    "starter",
    "skill",
    "youtube",
    "clipping"
  ]
}
